<h1> {{model.name}} </h1>
<p>{{model.description}}</p>
<img src={{model.imageUrl}} class="img-icon pull-left"><br>
{{link-to 'Edit this food' 'foods.food.edit' model.id}}
<button {{action 'destroyItem' model}}>Destroy</button>
